@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

:root {
  --bl: #322d2f;
  --p: #b161c7;
  --r: #fd6262;
  --b: #55c6d9;
  --y: #cbaf69;
  --w: #f2fdff;
  --r: #e91e63;
  --b: #2196f3;
  --o: #ff5722;
  --g: #4caf50;
  --y: #ffc107;
  --expo: cubic-bezier(0.19, 1, 0.22, 1);
  --elastic: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components{
  .leftRightSpacing{
     margin-left: 5rem;
     margin-right: 5rem;
  }

  .globally{
    background-color: #0c0f21;
    overflow-x: hidden;
    color: #fff;
  }
  .spaceBetweenFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toast-success {
    background-color: #4CAF50 !important;
    color: white !important;
}

}



.gradient-border-button {
  position: relative; 
  background: transparent; /* Transparent background */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add border radius */
  padding: 1.75rem 2rem; /* Adjust padding as needed */
  font-size: 20px; /* Adjust font size */
  font-weight: bold; /* Adjust font weight */
  color: white; /* Adjust text color */
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.gradient-border-button::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background: linear-gradient(89.51deg, #761EFE -22.31%, #A22CFC 3.65%, #766BF3 51.69%, #38C1E5 111.57%); /* Gradient background */
  border-radius: 5px; 
  padding: 2px; 
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* Clip the gradient to the border */
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* Clip the gradient to the border */
  -webkit-mask-composite: xor; 
  mask-composite: exclude; 
}




.wrap {
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}

.wrap .flipper {
  height: 125px;
  width: 20px;
  position: absolute;
  transform-style: preserve-3d;
  left: calc(50% - 10px);
  top: -50px;
  transform-origin: 50% 300px;
}

.wrap .flipper .inner {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-animation: flip 4s ease-in-out infinite;
          animation: flip 4s ease-in-out infinite;
  background: #eb5158;
}

.wrap .flipper .inner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: rotateX(360deg);
  background: #6fcde3;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: flip2 4s ease-in-out infinite;
          animation: flip2 4s ease-in-out infinite;
}

@-webkit-keyframes flip2 {
  0% {
    background: #eb5158;
  }
  50% {
    background: #9adceb;
  }
  100% {
    background: #eb5158;
  }
}

@keyframes flip2 {
  0% {
    background: #eb5158;
  }
  50% {
    background: #9adceb;
  }
  100% {
    background: #eb5158;
  }
}

@-webkit-keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: #6fcde3;
  }
  50% {
    transform: rotateX(0deg);
    background: #f3969a;
  }
  100% {
    transform: rotateX(-360deg);
    background: #6fcde3;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: #6fcde3;
  }
  50% {
    transform: rotateX(0deg);
    background: #f3969a;
  }
  100% {
    transform: rotateX(-360deg);
    background: #6fcde3;
  }
}

.wrap .flipper:nth-of-type(1) {
  transform: rotate(12deg);
}
.wrap .flipper:nth-of-type(1) .inner {
  -webkit-animation-delay: -0.1290322581s;
          animation-delay: -0.1290322581s;
}
.wrap .flipper:nth-of-type(1) .inner:after {
  -webkit-animation-delay: -0.1290322581s;
          animation-delay: -0.1290322581s;
}
.wrap .flipper:nth-of-type(2) {
  transform: rotate(24deg);
}
.wrap .flipper:nth-of-type(2) .inner {
  -webkit-animation-delay: -0.2580645161s;
          animation-delay: -0.2580645161s;
}
.wrap .flipper:nth-of-type(2) .inner:after {
  -webkit-animation-delay: -0.2580645161s;
          animation-delay: -0.2580645161s;
}
.wrap .flipper:nth-of-type(3) {
  transform: rotate(36deg);
}
.wrap .flipper:nth-of-type(3) .inner {
  -webkit-animation-delay: -0.3870967742s;
          animation-delay: -0.3870967742s;
}
.wrap .flipper:nth-of-type(3) .inner:after {
  -webkit-animation-delay: -0.3870967742s;
          animation-delay: -0.3870967742s;
}
.wrap .flipper:nth-of-type(4) {
  transform: rotate(48deg);
}
.wrap .flipper:nth-of-type(4) .inner {
  -webkit-animation-delay: -0.5161290323s;
          animation-delay: -0.5161290323s;
}
.wrap .flipper:nth-of-type(4) .inner:after {
  -webkit-animation-delay: -0.5161290323s;
          animation-delay: -0.5161290323s;
}
.wrap .flipper:nth-of-type(5) {
  transform: rotate(60deg);
}
.wrap .flipper:nth-of-type(5) .inner {
  -webkit-animation-delay: -0.6451612903s;
          animation-delay: -0.6451612903s;
}
.wrap .flipper:nth-of-type(5) .inner:after {
  -webkit-animation-delay: -0.6451612903s;
          animation-delay: -0.6451612903s;
}
.wrap .flipper:nth-of-type(6) {
  transform: rotate(72deg);
}
.wrap .flipper:nth-of-type(6) .inner {
  -webkit-animation-delay: -0.7741935484s;
          animation-delay: -0.7741935484s;
}
.wrap .flipper:nth-of-type(6) .inner:after {
  -webkit-animation-delay: -0.7741935484s;
          animation-delay: -0.7741935484s;
}
.wrap .flipper:nth-of-type(7) {
  transform: rotate(84deg);
}
.wrap .flipper:nth-of-type(7) .inner {
  -webkit-animation-delay: -0.9032258065s;
          animation-delay: -0.9032258065s;
}
.wrap .flipper:nth-of-type(7) .inner:after {
  -webkit-animation-delay: -0.9032258065s;
          animation-delay: -0.9032258065s;
}
.wrap .flipper:nth-of-type(8) {
  transform: rotate(96deg);
}
.wrap .flipper:nth-of-type(8) .inner {
  -webkit-animation-delay: -1.0322580645s;
          animation-delay: -1.0322580645s;
}
.wrap .flipper:nth-of-type(8) .inner:after {
  -webkit-animation-delay: -1.0322580645s;
          animation-delay: -1.0322580645s;
}
.wrap .flipper:nth-of-type(9) {
  transform: rotate(108deg);
}
.wrap .flipper:nth-of-type(9) .inner {
  -webkit-animation-delay: -1.1612903226s;
          animation-delay: -1.1612903226s;
}
.wrap .flipper:nth-of-type(9) .inner:after {
  -webkit-animation-delay: -1.1612903226s;
          animation-delay: -1.1612903226s;
}
.wrap .flipper:nth-of-type(10) {
  transform: rotate(120deg);
}
.wrap .flipper:nth-of-type(10) .inner {
  -webkit-animation-delay: -1.2903225806s;
          animation-delay: -1.2903225806s;
}
.wrap .flipper:nth-of-type(10) .inner:after {
  -webkit-animation-delay: -1.2903225806s;
          animation-delay: -1.2903225806s;
}
.wrap .flipper:nth-of-type(11) {
  transform: rotate(132deg);
}
.wrap .flipper:nth-of-type(11) .inner {
  -webkit-animation-delay: -1.4193548387s;
          animation-delay: -1.4193548387s;
}
.wrap .flipper:nth-of-type(11) .inner:after {
  -webkit-animation-delay: -1.4193548387s;
          animation-delay: -1.4193548387s;
}
.wrap .flipper:nth-of-type(12) {
  transform: rotate(144deg);
}
.wrap .flipper:nth-of-type(12) .inner {
  -webkit-animation-delay: -1.5483870968s;
          animation-delay: -1.5483870968s;
}
.wrap .flipper:nth-of-type(12) .inner:after {
  -webkit-animation-delay: -1.5483870968s;
          animation-delay: -1.5483870968s;
}
.wrap .flipper:nth-of-type(13) {
  transform: rotate(156deg);
}
.wrap .flipper:nth-of-type(13) .inner {
  -webkit-animation-delay: -1.6774193548s;
          animation-delay: -1.6774193548s;
}
.wrap .flipper:nth-of-type(13) .inner:after {
  -webkit-animation-delay: -1.6774193548s;
          animation-delay: -1.6774193548s;
}
.wrap .flipper:nth-of-type(14) {
  transform: rotate(168deg);
}
.wrap .flipper:nth-of-type(14) .inner {
  -webkit-animation-delay: -1.8064516129s;
          animation-delay: -1.8064516129s;
}
.wrap .flipper:nth-of-type(14) .inner:after {
  -webkit-animation-delay: -1.8064516129s;
          animation-delay: -1.8064516129s;
}
.wrap .flipper:nth-of-type(15) {
  transform: rotate(180deg);
}
.wrap .flipper:nth-of-type(15) .inner {
  -webkit-animation-delay: -1.935483871s;
          animation-delay: -1.935483871s;
}
.wrap .flipper:nth-of-type(15) .inner:after {
  -webkit-animation-delay: -1.935483871s;
          animation-delay: -1.935483871s;
}
.wrap .flipper:nth-of-type(16) {
  transform: rotate(192deg);
}
.wrap .flipper:nth-of-type(16) .inner {
  -webkit-animation-delay: -2.064516129s;
          animation-delay: -2.064516129s;
}
.wrap .flipper:nth-of-type(16) .inner:after {
  -webkit-animation-delay: -2.064516129s;
          animation-delay: -2.064516129s;
}
.wrap .flipper:nth-of-type(17) {
  transform: rotate(204deg);
}
.wrap .flipper:nth-of-type(17) .inner {
  -webkit-animation-delay: -2.1935483871s;
          animation-delay: -2.1935483871s;
}
.wrap .flipper:nth-of-type(17) .inner:after {
  -webkit-animation-delay: -2.1935483871s;
          animation-delay: -2.1935483871s;
}
.wrap .flipper:nth-of-type(18) {
  transform: rotate(216deg);
}
.wrap .flipper:nth-of-type(18) .inner {
  -webkit-animation-delay: -2.3225806452s;
          animation-delay: -2.3225806452s;
}
.wrap .flipper:nth-of-type(18) .inner:after {
  -webkit-animation-delay: -2.3225806452s;
          animation-delay: -2.3225806452s;
}
.wrap .flipper:nth-of-type(19) {
  transform: rotate(228deg);
}
.wrap .flipper:nth-of-type(19) .inner {
  -webkit-animation-delay: -2.4516129032s;
          animation-delay: -2.4516129032s;
}
.wrap .flipper:nth-of-type(19) .inner:after {
  -webkit-animation-delay: -2.4516129032s;
          animation-delay: -2.4516129032s;
}
.wrap .flipper:nth-of-type(20) {
  transform: rotate(240deg);
}
.wrap .flipper:nth-of-type(20) .inner {
  -webkit-animation-delay: -2.5806451613s;
          animation-delay: -2.5806451613s;
}
.wrap .flipper:nth-of-type(20) .inner:after {
  -webkit-animation-delay: -2.5806451613s;
          animation-delay: -2.5806451613s;
}
.wrap .flipper:nth-of-type(21) {
  transform: rotate(252deg);
}
.wrap .flipper:nth-of-type(21) .inner {
  -webkit-animation-delay: -2.7096774194s;
          animation-delay: -2.7096774194s;
}
.wrap .flipper:nth-of-type(21) .inner:after {
  -webkit-animation-delay: -2.7096774194s;
          animation-delay: -2.7096774194s;
}
.wrap .flipper:nth-of-type(22) {
  transform: rotate(264deg);
}
.wrap .flipper:nth-of-type(22) .inner {
  -webkit-animation-delay: -2.8387096774s;
          animation-delay: -2.8387096774s;
}
.wrap .flipper:nth-of-type(22) .inner:after {
  -webkit-animation-delay: -2.8387096774s;
          animation-delay: -2.8387096774s;
}
.wrap .flipper:nth-of-type(23) {
  transform: rotate(276deg);
}
.wrap .flipper:nth-of-type(23) .inner {
  -webkit-animation-delay: -2.9677419355s;
          animation-delay: -2.9677419355s;
}
.wrap .flipper:nth-of-type(23) .inner:after {
  -webkit-animation-delay: -2.9677419355s;
          animation-delay: -2.9677419355s;
}
.wrap .flipper:nth-of-type(24) {
  transform: rotate(288deg);
}
.wrap .flipper:nth-of-type(24) .inner {
  -webkit-animation-delay: -3.0967741935s;
          animation-delay: -3.0967741935s;
}
.wrap .flipper:nth-of-type(24) .inner:after {
  -webkit-animation-delay: -3.0967741935s;
          animation-delay: -3.0967741935s;
}
.wrap .flipper:nth-of-type(25) {
  transform: rotate(300deg);
}
.wrap .flipper:nth-of-type(25) .inner {
  -webkit-animation-delay: -3.2258064516s;
          animation-delay: -3.2258064516s;
}
.wrap .flipper:nth-of-type(25) .inner:after {
  -webkit-animation-delay: -3.2258064516s;
          animation-delay: -3.2258064516s;
}
.wrap .flipper:nth-of-type(26) {
  transform: rotate(312deg);
}
.wrap .flipper:nth-of-type(26) .inner {
  -webkit-animation-delay: -3.3548387097s;
          animation-delay: -3.3548387097s;
}
.wrap .flipper:nth-of-type(26) .inner:after {
  -webkit-animation-delay: -3.3548387097s;
          animation-delay: -3.3548387097s;
}
.wrap .flipper:nth-of-type(27) {
  transform: rotate(324deg);
}
.wrap .flipper:nth-of-type(27) .inner {
  -webkit-animation-delay: -3.4838709677s;
          animation-delay: -3.4838709677s;
}
.wrap .flipper:nth-of-type(27) .inner:after {
  -webkit-animation-delay: -3.4838709677s;
          animation-delay: -3.4838709677s;
}
.wrap .flipper:nth-of-type(28) {
  transform: rotate(336deg);
}
.wrap .flipper:nth-of-type(28) .inner {
  -webkit-animation-delay: -3.6129032258s;
          animation-delay: -3.6129032258s;
}
.wrap .flipper:nth-of-type(28) .inner:after {
  -webkit-animation-delay: -3.6129032258s;
          animation-delay: -3.6129032258s;
}
.wrap .flipper:nth-of-type(29) {
  transform: rotate(348deg);
}
.wrap .flipper:nth-of-type(29) .inner {
  -webkit-animation-delay: -3.7419354839s;
          animation-delay: -3.7419354839s;
}
.wrap .flipper:nth-of-type(29) .inner:after {
  -webkit-animation-delay: -3.7419354839s;
          animation-delay: -3.7419354839s;
}
.wrap .flipper:nth-of-type(30) {
  transform: rotate(360deg);
}
.wrap .flipper:nth-of-type(30) .inner {
  -webkit-animation-delay: -3.8709677419s;
          animation-delay: -3.870967741}

          .custom-scrollbar::-webkit-scrollbar {
            width: 5px; 
          }
          
          .custom-scrollbar::-webkit-scrollbar-track {
            background: transparent; 
          }
          
          .custom-scrollbar::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
          }
          
          .custom-scrollbar::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.4); 
          }
          
      
          .custom-scrollbar {
            scrollbar-width: thin;
            scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
          }
          